.example-container {
    min-height: 100vh;
    height: 100%;
  }
  .example-sidenav-content {
   
    height: 100%;
    justify-content: start;
    width: 100% !important;
   
  }
  .example-sidenav {
     user-select: none;
     background-color: #181924!important;
     color: wheat !important;
     height: 100%;
     
  }
  .full-width {
    width: 200px;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .mat-drawer-container {
   background-color: lightgray;
    color: rgba(0,0,0,.87);
    height: 100%;
}
.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
   
}
.parent{
    color: whitesmoke;
}