<h4>SubCategory </h4>
<div style="display: flex;">
    <button mat-stroked-button (click)="addSubCategoryDialog()" style="background-color: #0c0032; color: whitesmoke; width: 100px;">
       <mat-icon>addchart</mat-icon> Add</button> 
    <button mat-stroked-button style="background-color: rgb(204, 5, 5); color: whitesmoke; width: 100px;margin-left: 10px;">
        <mat-icon>delete_sweep</mat-icon> Delete</button>
    
    <button routerLink="/displayproduct" mat-stroked-button style="background-color: rgb(42, 243, 109); color: black; width: 100px;margin-left: 10px;">
        <mat-icon>category</mat-icon>Products</button>    
           
</div>
  
<br>

<div class="category"><br>
<div class="container1">
  <div class="layout-box mid " routerLink="/subcategoryInfo">
      <img src="../../../../assets/img/kaju.jpg" alt="SubCategory" style="width: 150px;height: 150px;left: 50;margin: 0 auto;">
    <p>Dry Fruits</p>
  </div>
  
  <div class="layout-box mid ">
    <img src="../../../../assets/img/kaju.jpg" alt="SubCategory" style="width: 150px;height: 150px;left: 50;margin: 0 auto;">
  <p>Dry Fruits</p>
  
</div>

<div class="layout-box mid ">
    <img src="../../../../assets/img/kaju.jpg" alt="SubCategory" style="width: 150px;height: 150px;left: 50;margin: 0 auto;">
  <p>Dry Fruits</p>
</div>
  
  
</div><br>
</div>
