.cat-img{
    width: 20%;
    word-break: break-all;
}
.cat-desc{
    width: 80%;
    word-break: break-all;
}
.cat-main{
    display: flex;
    width: 100%;
    border: 1px solid white ;
    border-radius: 5px;
    padding: 20px;
    background-color: #181924;
    color: whitesmoke;
}

.catimg{
    width: 100%;
    height: 70%;
    float: right;
}
.edit_btn{
    float: right;
    border-color: whitesmoke;
    
    width: 100%;
}
.dot-active {
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-deactive {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .edit_name_btn{
    color: white;
    border-radius: 50px;
    border-color: whitesmoke;
    outline: none;
  }

  .edit_desc_btn{
    border-color: whitesmoke;

  }

  .cat-btns{
    display: flex;
    width: 100%;
    border: 1px solid white ;
    border-radius: 5px;
    padding: 20px;
    background-color: #181924;
    color: whitesmoke;
      height: auto;
      margin-bottom: 3%;
  }
  .activate{
      margin-right: 10px;
      background-color: rgb(92, 65, 243);
      color: whitesmoke;
      font-size: large;
  }
  .deactivate{
    margin-right: 10px;
    font-size: large;
    background-color: rgb(243, 65, 89);
    color: whitesmoke;
}

.delete{
    margin-right: 10px;
    font-size: large;
    background-color: rgb(202, 8, 8);
    color: whitesmoke;
}
.subcatBtn{
    font-size: large;
    background-color: yellowgreen;
    
}

.subCategory{
    
    width: 100%;
    border: 1px solid white ;
    border-radius: 5px;
    padding: 20px;
    background-color: #181924;
    color: whitesmoke;
    margin-top: 3%;
}

.img-name{
    margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .cat-main{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .cat-img{
        width: 100%;
        margin-top: 5%;
    }
    .cat-desc{
        width: 100%;
        word-break: break-all;
    }
    .catimg{
        width: 100%;
        height: 100%;
        float:none;
    }
    .edit_btn{
        float: right;
        border-color: whitesmoke;
        margin-top: 9%;
        width: 100%;
    }
    .cat-btns{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid white ;
        border-radius: 5px;
        padding: 20px;
        background-color: #181924;
        color: whitesmoke;
          height: auto;
          margin-bottom: 3%;
    }    
    .activate{
        margin-right: 10px;
        background-color: #5c41f3;
        color: whitesmoke;
        font-size: small;
        width: 100%;
        margin-bottom: 5px;
    }
    .deactivate{
      margin-right: 10px;
      font-size: small;
      background-color: #f34159;
      color: whitesmoke;
      width: 100%;
      margin-bottom: 5px;
  }
  
  .delete{
      margin-right: 10px;
      margin-bottom: 5px;
      font-size: small;
      background-color: rgb(202, 8, 8);
      color: whitesmoke;
      width: 100%;
  }
}

.category{
   
    display: grid;
  }
  .container1{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.layout-box{
  background: 
  white;
  color: black;
  height: 250px;
    background-size: cover; 
    position: relative;
    border-radius: 5px;
    padding: 2rem 3rem;
    box-shadow: 0 0 3em rgba(0,0,0,0.15);
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 7% 0 7% 0;
}

.layout-box:hover{
  background: #1a1a1d;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  height: 250px;
    background-size: cover; 
    position: relative;
    border-radius: 5px;
    padding: 2rem 3rem;
    box-shadow: 0 0 3em rgba(0,0,0,0.15);
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 7% 0 7% 0;
}


.mid p {
  font-weight: 400;
  margin-top:10%;
  font-size: 1.5rem;
  text-align: center;
}



.modal {
    text-align: center;
    padding: 0!important;
    
  }
  
  .modal:before {
    content: '';
    
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; 
  }
  
  .modal-dialog {
  
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-header{
      background-color: #5c41f3;
      color: whitesmoke;

  }
