.upload{
    width: 30%;
}
.imgName{
    margin-left: 10px;
}

.submit{
    width: 100%;
    font-size: large;
    background-color: #2920af;
    color: white;
    align-items: center;
    margin: 0 8% 3% 8%;
}

::ng-deep.mat-dialog-container {
    padding: 0 !important;
}

::ng-deep.mat-form-field{
    padding: 0px 8% 0px 8%;
}
@media (min-width: 320px) and (max-width: 480px) {
    .upload{
        width: 100%;
    }
    .imgName{
        margin-left: 0px;
        margin-top: 5px;
    }
}